<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace로 호출할 때 헷갈림을 제거한다. 하나의 폴더 역할 -->
<mapper namespace="m.e.m">

	<!-- id값을 찾아서 실행한다. -->
	<insert id="insert">
	<!-- 객체로 값을 받을 때 속성 명을 적어주면 된다 -->
	INSERT INTO member (id, name, age) VALUES (#{id}, #{name}, #{age})
	</insert>
	
	<!-- resultType엔 제네릭이 들어감 -->
	<select id="list" resultType="MemberDTO">
		select * from member
	</select>
</mapper>